doubly_linked_lists/a
doubly_linked_lists/b
doubly_linked_lists/c
doubly_linked_lists/d
doubly_linked_lists/e
doubly_linked_lists/h
doubly_linked_lists/i
doubly_linked_lists/j
doubly_linked_lists/k

hash_tables/a
hash_tables/b
hash_tables/c
hash_tables/d